%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /

- if notice
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    = notice

.well
  %h1 Dashboard

%table.table
  %tr
    %th Jobs in Queue
    %th Jobs failed
    %th Jobs Running
    %th Jobs Idle
    %th
  %tr
    %td
      %span.badge.badge-info
        =  @jobs.count

    %td
      %span.badge.badge-important
        = @jobs_failed.count
    %td
      %span.badge.badge-warning
        =  @jmeter_runs_running.count
    %td
      %span.badge
        = @jmeter_runs_idle.count
    %td
      = link_to 'Clear Queue', dashboard_clear_queue_path

%p

%h3
  Last JmeterRuns

%table.table
  %tr
    %th RunID
    %th Started
    %th Desciption
    %th
  %tr
    - @jmeter_runs_running.each do |run|
      %td= run.id
      %td= run.created_at
      %td= run.description
      %td= run.state

