%h1 Definition Files
%br
- if notice
  .alert.alert-success
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    = notice

%table.table.table-striped
  %tr
    %th Filename
    %th Type
    %th

  - @jmx_definition_files.each do |jmx_definition_file|
    %tr
      %td= jmx_definition_file.df.file.filename unless jmx_definition_file.df.file.nil?
      %td= jmx_definition_file.df_type
      %td
        .btn-toolbar
          .btn-group
            %a.btn{:href => jmx_definition_file_path(jmx_definition_file)}
              %i.icon-eye-open
            %a.btn{:href => "/jmx_definition_files/#{jmx_definition_file.id}", :data => {:method=>'delete', :confirm => 'Are you sure?'} }
              %i.icon-trash

  - @log_definition_files.each do |log_definition_file|
    %tr
      %td= log_definition_file.df.file.filename unless log_definition_file.df.file.nil?
      %td= log_definition_file.df_type
      %td
        .btn-toolbar
          .btn-group
            %a.btn{:href => log_definition_file_path(log_definition_file)}
              %i.icon-eye-open
            %a.btn{:href => "/log_definition_files/#{log_definition_file.id}", :data => {:method=>'delete', :confirm => 'Are you sure?'} }
              %i.icon-trash
%br
