<%= form_for [@setting, @project], :url => project_setting_path  do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jmx_file %><br />
    <%= f.text_field :jmx_file %>
  </div>
  <div class="field">
    <%= f.label :jtl_file %><br />
    <%= f.text_field :jtl_file %>
  </div>
  <div class="field">
    <%= f.label :jmeter_threads %><br />
    <%= f.number_field :jmeter_threads %>
  </div>
  <div class="field">
    <%= f.label :remote_server %><br />
    <%= f.text_field :remote_server %>
  </div>
  <div class="field">
    <%= f.label :jmeter_counter %><br />
    <%= f.number_field :jmeter_counter %>
  </div>
  <div class="field">
    <%= f.label :jmeter_troughput %><br />
    <%= f.text_field :jmeter_troughput %>
  </div>
  <div class="field">
    <%= f.label :jmeter_period %><br />
    <%= f.number_field :jmeter_period %>
  </div>
  <div class="field">
    <%= f.label :jmeter_accesslog %><br />
    <%= f.text_field :jmeter_accesslog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
