<h1>Settings</h1>

<table>
  <tr>
    <th>Key</th>
    <th></th></th>
    <th>Value</th>
    <th></th>
  </tr>


  <tr>
    <td>Jmx file</td>
    <td></td>
    <td><%= @settings.jmx_file %></td>
  </tr>
  <tr>
    <td>Jtl file</td>
    <td></td>
    <td><%= @settings.jtl_file %></td>
  </tr><tr>
    <td>Jmeter threads</td>
    <td></td>
    <td><%= @settings.jmeter_threads %></td>
  </tr><tr>
    <td>Remote server</td>
    <td></td>
    <td><%= @settings.remote_server %></td>
  </tr><tr>
    <td>Jmeter counter</td>
    <td></td>
    <td><%= @settings.jmeter_counter %></td>
  </tr><tr>
    <td>Jmeter troughput</td>
    <td></td>
    <td><%= @settings.jmeter_troughput %></td>
  </tr><tr>
    <td>Jmeter period</td>
    <td></td>
    <td><%= @settings.jmeter_period %></td>
  </tr><tr>
    <td>Jmeter accesslog</td>
    <td></td>
    <td><%= @settings.jmeter_accesslog %></td>
  </tr>

</table>



