<p id="notice"><%= notice %></p>

<p>
  <b>Jmx file:</b>
  <%= @setting.jmx_file %>
</p>

<p>
  <b>Jtl file:</b>
  <%= @setting.jtl_file %>
</p>

<p>
  <b>Jmeter threads:</b>
  <%= @setting.jmeter_threads %>
</p>

<p>
  <b>Remote server:</b>
  <%= @setting.remote_server %>
</p>

<p>
  <b>Jmeter counter:</b>
  <%= @setting.jmeter_counter %>
</p>

<p>
  <b>Jmeter troughput:</b>
  <%= @setting.jmeter_troughput %>
</p>

<p>
  <b>Jmeter period:</b>
  <%= @setting.jmeter_period %>
</p>

<p>
  <b>Jmeter accesslog:</b>
  <%= @setting.jmeter_accesslog %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
