<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label><%= f.label :name %> </label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label><%= f.label :environment %></label>
    <%= f.select :environment, [['live', 'live'], ['stage', 'stage'], ['integration', 'integration']]  %>
  </div>
  <div class="field">
    <label> <%= f.label :platform %></label>
    <%= f.text_field :platform %>
  </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
