<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/projects">Projects</a> <span class="divider">/</span></li>
</ul>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Platform</th>
    <th>Environment</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.platform %></td>
    <td><%= project.environment %></td>
    <td>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn" href=<%='/projects/'+project.name%>><i class="icon-eye-open"></i></a>
          <a class="btn" href=<%=edit_project_path(project)%>><i class="icon-pencil"></i></a>
          <a class="btn" href=<%='/projects/'+project.id.to_s%> data-method="delete" ><i
        class="icon-trash"></i></a>
        </div>
      </div>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Project', new_project_path %>
<br>