<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/projects">Projects</a> <span class="divider">/</span></li>
  <li><a href=/projects/<%=@project.id%>><%=@project.name%></a> <span class="divider">/</span></li>
</ul>

<% if notice %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
<%end %>

<div class="well">
  <p>
    <b>Name:</b>
    <%= @project.name %>
  </p>

  <p>
    <b>Environment:</b>
    <%= @project.environment %>
  </p>

  <p>
    <b>Platform:</b>
    <%= @project.platform %>
  </p>

</div>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Jmx File</th>
    <th>State</th>
    <th></th>
  </tr>

  <% @jmeter_runs.each do |jmeter_run| %>
      <tr>
        <td><%= truncate(jmeter_run.description, :length => 25, :separator => ' ') %></td>
        <td><%= truncate(jmeter_run.jmx_file, :length => 25, :separator => ' ') %></td>
        <td><%= jmeter_run.state %></td>
        <td>
          <div class="btn-toolbar">
            <div class="btn-group">
              <a class="btn" href=<%=project_jmeter_run_path(@project, jmeter_run)%>><i class="icon-eye-open"></i></a>
              <a class="btn" href=<%=edit_project_jmeter_run_path(@project, jmeter_run)%>><i class="icon-pencil"></i></a>
              <a class="btn" href=<%=project_jmeter_run_path(jmeter_run, @project)%> confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
</table>




<%= link_to 'Back', projects_path %> |
<%= link_to 'Edit', edit_project_path() %>

