<%= form_for([@project,@jmeter_run]) do |f| %>
  <% if @jmeter_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jmeter_run.errors.count, "error") %> prohibited this jmeter_run from being saved:</h2>

      <ul>
      <% @jmeter_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <label><%= f.label :description %></label>
    <textarea rows="3"><%= f.text_field :description %></textarea>
  </div>
  <div class="field">
    <label><%= f.label :jmx_file %></label>
    <%= f.collection_select :jmx_definition_file, JmxDefinitionFile.all, :id, :df_name %>
  </div>
  <div class="fieldset">
    <label><%= f.label :log_file %></label>
    <%= f.select :log_definition_file_id, LogDefinitionFile.all.collect {|p| [ p.df_name, p.id ] } %>
  </div>
    <br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
