<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="/projects">Projects</a> <span class="divider">/</span></li>
  <li><a href=/projects/<%=@project.id%>><%=@project.name%></a> <span class="divider">/</span></li>
  <li><a href="/projects/<%=@project.id%>/jmeter_runs">JmeterRuns</a> <span class="divider">/</span></li>
</ul>

<h1>Jmeter_runs</h1>

<table class="table">
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th>Jmx File</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jmeter_runs.each do |jmeter_run| %>
  <tr>
    <td><%= jmeter_run.project.name %></td>
    <td><%= jmeter_run.description %></td>
    <td><%= jmeter_run.jmx_file %></td>
    <td><%= jmeter_run.state %></td>
    <td>
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn" href=<%=project_jmeter_run_path(@project, jmeter_run)%>><i class="icon-eye-open"></i></a>
        <a class="btn" href=<%=edit_project_jmeter_run_path(@project, jmeter_run)%>><i class="icon-pencil"></i></a>
        <a class="btn" href=<%=project_jmeter_run_path(@project, jmeter_run)%> confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>
      </div>
    </div>
  </td>
  </tr>
<% end %>
</table>

<br />

<button type="submit" class="btn btn-large">
  <%= link_to 'New Jmeter run', new_project_jmeter_run_path %>
</button>
<p>
