%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li
    %a{:href => "/projects"} Projects
    %span.divider /
  %li
    <a href=/projects/#{@project.id}>#{@project.name}
    %span.divider /
  %li
    %a{:href => "/projects/#{@project.id}/jmeter_runs"} JmeterRuns
%h1 JmeterRuns
%br
%table.table.table-striped
  %tr
    %th
    %th Description
    %th Jmx File
    %th AccessLog
    %th

  - @jmeter_runs.each do |jmeter_run|
    %tr
      %td= localize(jmeter_run.created_at, :format => :short)
      %td= truncate(jmeter_run.description, :length => 25, :separator => ' ')
      %td= truncate(jmeter_run.jmx_file, :length => 25, :separator => ' ')
      %td= truncate(jmeter_run.jmeter_accesslog, :length => 25, :separator => ' ')
      %td
        .btn-toolbar
          .btn-group
            %a.btn{ :href=>project_jmeter_run_path(@project, jmeter_run)}
              %i.icon-eye-open
            %a.btn{:href=>edit_project_jmeter_run_path(@project, jmeter_run)}
              %i.icon-pencil
            %a.btn{:href => "/projects/#{@project.id}/jmeter_runs/#{jmeter_run.id}", :data => {:method=>'delete', :confirm => 'Are you sure?'} }
              %i.icon-trash
            .btn
              %i.icon-flag
              = jmeter_run.state
%br
%button.btn.btn-large{:type => "submit"}
  = link_to 'New Jmeter run', new_project_jmeter_run_path
%p