<p id="notice"><%= notice %></p>

<div class="well">
<p>
  <b>Project:</b>
  <%= @jmeter_run.project.name unless @jmeter_run.project.nil?  %>
</p>

<p>
  <b>Description:</b>
  <%= @jmeter_run.description %>
</p>

<p>
  <b>Jmx File:</b>
  <%= @jmeter_run.jmx_file %>
</p>

<p>
  <b>Access Log:</b>
  <%= @jmeter_run.jmeter_accesslog%>
</p>

<p>
  <b>State:</b>
  <%= @jmeter_run.state %>
</p>

<p>
  <b>StdError:</b>
  <%= @jmeter_run.stderror %>
</p>

<p>
  <b>StdOut:</b>
  <%= @jmeter_run.stdout %>
</p>
</div>
<p>
<%= link_to 'Edit', edit_project_jmeter_run_path(@project ,@jmeter_run) %> |
<%= link_to 'Back', project_jmeter_runs_path(@project) %>
</p>